body, html {
  background-image: linear-gradient(to top, yellow 0%, green 99%, #fecfef 100%);
  background-repeat: no-repeat;
  height: 100%;
  border: solid;
  /* display: flex; */
}

div {
  border: solid;
  display: flex;
}

aside {
  border: solid;
  padding-bottom: 35%;
}

article {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
section {
  border: solid;
}

button {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

