body, 
html {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #666666;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
  background-color: #f7fe72;
  background-image: linear-gradient(
    to top,
    #f7fe72 0%,
    hsl(164, 32%, 47%) 83%,
    #09441b 100%
  );
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
}

h1 {
  background: -webkit-linear-gradient(#f7fe72, #e98a15);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  padding-bottom: 1rem;
  color: #333333;
}

label {
  text-transform: uppercase;
  font-weight: 700;
}

p {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  background-color: #09441b;
  padding: 1.5rem;
  color: #ffffff;
}
main {
  display: flex;
  align-content: center;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 2rem;
  padding: 1.5rem 2rem;
}

article {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
section {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem;
  opacity: 0.9;
  filter: drop-shadow(0 0 0.75rem #09441b);
  min-width: 18rem;
}

button {
  height: 2.75rem;
  width: auto;
  border-radius: 0.25rem;
  background-color: #e98a15;
  border: none;
  color: #ffffff;
  padding: 0 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #f7fe72;
  color: #333333;
}

.widgetContainer {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.hydration-section {
  flex-grow: 2;
}

.sleep-section {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
}

.sleepContent {
  display: flex;
  flex-flow: row wrap;
}

.sleepStats {
  flex-flow: row wrap;
  min-width: 2.75rem;
  width: 50%;
}

.statDisplay {
  display: inline-flex;
}

.stat {
  width: 50%;
}

.number {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  padding-bottom: 1rem;
  color: #519e8a;
}

.user--section {
  max-width: 16rem;
}

.userContact {
  font-size: 1.25rem;
  padding-bottom: 1rem;
  padding-top: 0.25rem;
}

#welcomeMessage {
  font-weight: 400;
  padding: 0;
  color: #ffffff;
}
